body {
  font-family: 'Josefin Sans', sans-serif;
}

/* PROFILE */

.upper-navbar {
  height: 40px;
  width: 100vw;
  background-color: white;
  border-bottom: #663366 solid 1px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header {
  height: fit-content;
  transform-style: preserve-3d;
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.background-img {
  width: 100vw;
  height: calc(60vh + 40vw);
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-2px);
  position: absolute;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: calc(60vh + 40vw);
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 20vw;
  position: relative;
}

.profile-pic {
  height: 40vw;
  width: 40vw;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  margin: 20px;
}

.link-navbar {
  margin: 30px 0px;
}

.chevron {
  width: 100vw;
  height: 20vw;
  position: absolute;
  bottom: 0vh;
}

/* MAIN CONTENT AND SECTIONS */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

section {
  display: flex;
  justify-content: center;
  width: 80vw;
  border: 1.5px solid #663366;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
}

section > div {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #666666;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 500px;
  justify-content: center;
}

.logos > div {
  width: 50px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.description {
  font-size: 12px;
}

.projects {
  width: 70vw;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-flip {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-img {
  box-sizing: border-box;
  border: 1.5px solid #663366;
  width: 30vw;
  object-fit: cover;
}

.project-summary {
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-summary:hover {
  border: 1px solid #663366;
  background-color: #efefef;
  transition: 1s;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 0px;
}

.contact-link {
  color: #333333;
}

@media screen and (max-width: 760px) {

  .project {
    flex-direction: column;
  }

  .project-flip {
    flex-direction: column;
  }

  .project-img {
    width: 60vw;
  }

  .project-summary {
    width: 60vw;
  }
}

/* color: #a64d79; */
/* color: #41b4ae; */
