body {
  font-family: 'Josefin Sans', sans-serif;
}

/* PROFILE */

.upper-navbar {
  height: 40px;
  width: 100vw;
  background-color: white;
  border-bottom: #663366 solid 1px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 5px;
}

header {
  height: fit-content;
  transform-style: preserve-3d;
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.background-img {
  width: 100vw;
  height: calc(250px + 50vh + 20vw);
  /* min-height: 720px; */
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-2px);
  position: absolute;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: calc(250px + 50vh + 20vw);
  /* min-height: 720px; */
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 20vw;
  position: relative;
}

.profile-pic {
  height: 40vw;
  width: 40vw;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  margin: 20px;
}

.link-navbar {
  margin: 20px 0px;
}

.link-a {
  text-decoration: none;
  padding: 0px;
}

.chevron {
  width: 100vw;
  height: 20vw;
  position: absolute;
  bottom: 0vh;
}

/* MAIN CONTENT AND SECTIONS */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

section {
  display: flex;
  justify-content: center;
  width: 80vw;
  border: 1.5px solid #663366;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
}

.border {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #666666;
  padding: 20px;
}

.border > div {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 500px;
  justify-content: center;
}

.logos > div {
  width: 50px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 15vw;
  width: 15vw;
  max-height: 50px;
  max-width: 50px;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.projects {
  width: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project-image {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  width: 50%;
  max-width: 300px;
}

.project-image > a {
  padding: 0px;
}

.project-header {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 50%;
}

.project-summary {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
}

.project-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.project-navbar i {
  color: #333;
}

.project-img {
  box-sizing: border-box;
  border: 1.5px solid #663366;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}

.break {
  border-top: #663366 2px solid;
  margin-bottom: 20px;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 0px;
}

.contact-link {
  color: #333333;
}

@media screen and (max-width: 892px) {

  .project {
    flex-direction: column;
  }

  .project-flip {
    flex-direction: column;
  }

  .project-image {
    width: 100%;
  }

  .project-header {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .tech {
    text-align: center;
  }

  .project-navbar {
    justify-content: center;
  }
}

/* color: #a64d79; */
/* color: #41b4ae; */
